/* General reset for the body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
  }
  
  .upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .card {
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
  }
  
  .icon img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
  }
  
  p {
    font-size: 14px;
    color: #777;
  }
  
  .card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
  

  .submit {
    padding-top: 10px;
    margin-top: 20px;
    .upload {
      padding: 10px;
      border-radius: 14px;
      color: white;
      font-weight: 900;
      background-color: green;
      margin-right: 10px;
    }
    .remove {
      padding: 10px;
      border-radius: 14px;
      color: white;
      font-weight: 900;
      background-color: rgb(196, 23, 0);
    }
  }

  .click{
    color: blue;
    cursor: pointer;
  text-decoration: underline;
  }    

  .progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 20px;
    margin-top: 10px;
    overflow: hidden;
  
    .progress-bar-fill {
      height: 100%;
      background-color: #4caf50;
      transition: width 0.3s ease;
    }
  }
  