.container{
  margin-top: 20px;  
  padding: 20px;
    background-color: bisque;
    border-radius: 20px;
}

.example-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
:host ::ng-deep .mat-mdc-table .mat-mdc-row:nth-child(odd) {
    background-color: #f0f0f0;
  }
  
  :host ::ng-deep .mat-mdc-table .mat-mdc-row:nth-child(even) {
    background-color: #ffffff;
  }
  
  :host ::ng-deep .mat-mdc-table .mat-mdc-header-row {
    background-color: #424242;
    color: white; 
  }
  
  :host ::ng-deep .mat-mdc-table {
    background-color: #ffffff !important; /* Ensure table background is white */
}
::ng-deep .mat-mdc-cell{
    color: black;
    font-weight: 400;
    border: none !important;
}
::ng-deep .mat-mdc-header-cell {
    border: none !important;
}


.button-pair {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin: 12px 0;

  button {
    padding: 6px 16px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #333;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .predict-btn {
    background-color: #ff7043; // orange
    color: #000;

    &:hover {
      background-color: #ff5722;
      color: white;
    }
  }

  .analysis-btn {
    background-color: #2962ff; // blue
    color: white;

    &:hover {
      background-color: #0039cb;
    }
  }
}
